<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}
    <body>
        <div class="navbar bg-base-100 shadow-sm">
            <h1 class="flex-1 text-xl font-bold"><a href="{{ .BasePath }}">fail2ban dashboard</a> - {{ .Version }} <span class="badge badge-soft badge-info">fail2ban - {{ .Fail2BanVersion }}</span></h1>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                    <li>
                        <button onclick="setTheme(getTheme() === 'light' ? 'dark' : 'light'); this.querySelector('span').textContent = getTheme() === 'light' ? '☀️' : '🌙';" class="btn btn-ghost btn-circle">
                            <span>🌙</span>
                        </button>
                    </li>
                    <li><a href="https://github.com/webishdev/fail2ban-dashboard" rel="noopener" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
        <main class="p-4">
            <div class="jails">
                <div class="text-base font-medium text-center mb-4"><h2>Current jails</h2></div>
                <div class="jails grid gap-4 max-w-6xl mx-auto">
                    {{ range .Jails }}
                        {{ template "jailCard" . }}
                    {{ end }}
                </div>
            </div>
        </main>
    </body>
</html>